<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pdx.cs410.wifi.direct.file.transfer"
    android:versionCode="1"
    android:versionName="1.0" >
   
    

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />
    
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" 
             android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServerService"
            android:exported="false" />
        <service
            android:name=".ClientService"
            android:exported="false" />

        <activity
            android:name=".FileBrowser"
            android:label="@string/title_activity_file_browser" 
            android:screenOrientation="portrait">
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.pdx.cs410.wifi.direct.file.transfer.MainActivity" />
        </activity>
        <activity
            android:name=".ClientActivity"
            android:label="@string/title_activity_client" 
             android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.pdx.cs410.wifi.direct.file.transfer.MainActivity" />
        </activity>
    </application>

</manifest>